[submodule "OneDrive/Desktop/Test-github-actions/OneDrive/Desktop/Test-github-actions/test-github-actions"]
	path = OneDrive/Desktop/Test-github-actions/OneDrive/Desktop/Test-github-actions/test-github-actions
	url = https://github.com/Chiel1/test-github-actions.git
[submodule "OneDrive/Desktop/Test-github-actions/Test-github-actions/test-github-actions"]
	path = OneDrive/Desktop/Test-github-actions/Test-github-actions/test-github-actions
	url = https://github.com/Chiel1/test-github-actions.git
